/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #ced4db;
    margin: 0;
    padding: 0;
}

/* Header styling */
header {
    background-color: #122e4b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

header .navigation {
    display: flex;
    align-items: center;
    gap: 15px;
}

header .navigation img {
    max-width: 50px;
    border-radius: 50%;
}

header .nav-links {
    display: flex;
    gap: 20px;
}

header .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Search bar styling */
.search-section {
    text-align: center;
    margin-top: 20px;
}

.search-wrapper input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-predictions {
    margin-top: 10px;
    text-align: center;
}

.search-predictions ul {
    list-style: none;
    padding: 0;
}

.search-predictions li {
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}

.search-predictions li:hover {
    background-color: #e0e0e0;
}

/* Courses section styling */
.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#object1 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#object1 a img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.done-btn {
    margin-top: 10px;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #122e4b;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.done-btn:hover {
    background-color: #0d2336;
}


/* Badges section styling */
.badges-section {
    margin: 20px auto;
    width: 60%;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.badges-content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.progress-container {
    margin: 20px 0;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.prograss {
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.prograss::after {
    content: "";
    display: block;
    height: 100%;
    width: 0%; /* يبدأ من الصفر */
    background-color: #122e4b;
    transition: width 0.5s ease-in-out;
}

.badges-img img {
    width: 80px;
    height: 70px;
    opacity: 0.3; /* Hidden initially */
    transition: opacity 0.3s ease-in-out;
}